* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color:#99adff;
    background-image:
    radial-gradient(at 65% 31%, hsla(151,100%,66%,1) 0px, transparent 50%),
    radial-gradient(at 6% 12%, hsla(139,100%,66%,1) 0px, transparent 50%),
    radial-gradient(at 80% 60%, hsla(158,100%,65%,1) 0px, transparent 50%);  
    display: flex;
    justify-content: center;
    align-items: center;  
}
#clock {
    font-size: clamp(3rem, 4vw, 6rem);
    font-family: monospace;
    font-weight: 600;
    color: rgb(1, 20, 34);
    padding: 25px;
}